#copyButton, #helpMessage {
    -fx-text-fill: white;
}

#copyButton {
    -fx-background-color: #1e293b;
}

#copyButton:hover {
    -fx-background-color: #334155;
}

#copyButton:armed {
    -fx-background-color: #475569;
}

#helpMessageContainer {
    -fx-background-color: #111827; /* derive(#1d1d1d, 20%); */
}
